body {
  background: #e5e5e5;
  color: #757575;
  font-family: Roboto;
}
.list {
  list-style: none;
}
/* site header */
.page-head {
  background: #ffffff;
}
.logo {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* site navigation */
.site-nav .link {
  color: #212121;
}
.site-nav .link :hover,
.site-nav .link :focus {
  color: #2196f3;
}

/* цвет заглавия  color: #FFFFFF;*/
/* цвет подзаголовков color: #212121; */
/* text colour color: color: #757575; */
