body {
  background: #e5e5e5;
  color: #757575;
  font-family: Roboto;
}
.list {
  list-style: none;
}
/* site header */
.page-head {
  background: #ffffff;
}
/* оформление логотипа */
.logo {
  color: #2196f3;
  font-family: Raleway;
}
.logo:hover,
.logo:focus {
  color: #212121;
}
/* site navigation */
.link {
  color: #212121;
}
.site-nav .link,
.contacts :hover,
.site-nav .link,
.contacts:focus {
  color: #2196f3;
}
/* оформление главной секции*/
.main-section,
.bottom {
  background-color: #2f303a;
  color: #ffffff;
}
.main-title {
  color: #ffffff;
}
.section-button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.title {
  color: #212121;
}
/* оформление секции наша команда */
.team-section {
  background-color: #f5f4fa;
}
.team-text,
.company-projects {
  background-color: #ffffff;
}
/* оформление футера */
.site-contacts a {
  color: rgba(255, 255, 255, 0.6);
}
/* оформление портфолио */
.button-list button {
  background: #f5f4fa;
  color: #212121;
}
.button-list button:hover,
.button-list button:focus {
  background: #2196f3;
  color: #ffffff;
}
