:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
}
body {
  background: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto;
}
.list {
  list-style: none;
}
/* оформление логотипа */
.logo {
  color: var(--excretion-color);
}
.logo span {
  color: var(--primary-title-color);
}
/* оформление навигаци по сайту */
.site-nav .link {
  color: var(--primary-title-color);
}
.site-nav .link :hover,
.site-nav .link :focus {
  color: var(--accent-color);
}
/* оформление секций */
.section .title {
  color: var(--primary-title-color);
}
/* оформление главной секции */
.top-section > .title {
  color: #ffffff;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет текста h1, кнопки и в футере #FFFFFF */
/* цвет текста логотипа и при наведении #2196F3 */
/* цвет текста контактов в футере rgba(255, 255, 255, 0.6); */
